# Bonus: Temperature Analysis I

In [17]:
import pandas as pd
from datetime import datetime as dt

In [18]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [19]:
# Convert the date column format from string to datetime
df["date"]= pd.to_datetime(df["date"])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [20]:
# Set the date column as the DataFrame index
df.set_index("date", inplace=True)
df.head(100)

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2010-04-20  USC00519397  0.04    71
2010-04-21  USC00519397  0.01    75
2010-04-22  USC00519397  0.00    76
2010-04-23  USC00519397  0.02    75
2010-04-24  USC00519397  0.00    75

[100 rows x 3 columns]

In [23]:
# Drop the date column
df.dropna()
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [27]:
from scipy import stats

In [31]:
# Filter data for desired months
mean_df = df.loc[df["date"].dt.month ==6].groupby(["station"]).mean()

KeyError: 'date'

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis